.mailList{
    display: none;
    position: fixed;
    left: 25%;
    height: 400px;
    min-width: 450px;
    border: 1px solid #4A4A4A;
    background-color: white;
    color: black;
    overflow: auto;
    overflow-x: hidden;
}
.mailLists{
    width: 100%;
    text-align: center;
}
.mailLists:hover{
    background-color: #8D8D8D;
}